<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img class="bannerToGuapo" [src]="srcDeBanner"/>
   </div>
   
   <div class="linea"><br></div>
   
   <div class="content" role="main">
   
     <!-- Highlight Card -->
     
     <div class="card highlight-card card-small">
   
     
     </div>
     <div class="papi">
    <!--
     <div class="body">
       <div style="width: 100%; height: 100%; position: relative">
         <div id="map">
           <img [src]="cadenaDeSrc2"  />
           <img [src]="cadenaDeSrc" />
         </div>
       </div>
     -->
     <h1 class="eligetitulo">Choose your dictator!</h1>
     <div class="titulos">
     
     
    </div>
     <button class="sida3" (click)="navigateToHitler()" >
        <h1 class="hitlertitulo">Hitler </h1> 
       <img class="flechipolla" [src]="srcDeHitler" height="100">
       </button>


       <button class="sida4" (click)="navigateToKim()" >
        <h1 class="kimtitulo">Kim Jong-un </h1>
      
         <img class="flechipolla"  [src]="srcDeKim" height="100">
         
       </button>
   
      
     </div>
   
       
   
          
       </div>
   
   
   
   
   
     
   
   
   
   
  
   
   <br>
   <diV class="para">
   <button class="el_link" onclick="location.href='https://opensea.io/TATORS?tab=created'">
     <p class="textoLink">
     ^^^^^^^^^^^^ <br>
       Purchase now your own custom Tator NFT !
     </p>
     </button>
   </diV>
   <!--
   <div class="body">
     <div style="width: 100%; height: 100%; position: relative">
       <div id="map">
         <img [src]="cadenaDeSrc2" />
         <img [src]="cadenaDeSrc" />
       </div>
     </div>
   
   </div>
   -->
   
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
   <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
   <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
   <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->